<header class="user-header">
  <div class="header-left">
    <span class="page-title">Dashboard</span>
  </div>
  <div class="header-right">
    <button class="icon-btn">
      <span class="material-symbols-outlined">notifications</span>
      <span class="notification-dot"></span>
    </button>
    <button class="icon-btn">
      <span class="material-symbols-outlined">chat</span>
    </button>
    <div class="user-avatar">
      <span class="material-symbols-outlined">person</span>
    </div>
    <ng-content />
  </div>
</header>
