<header class="user-header">
  <div class="header-left">
    <span class="page-title">Dashboard</span>
  </div>
  <div class="header-right">
    <a routerLink="/developer/solicitudes" class="icon-btn" title="Solicitudes">
      <span class="material-symbols-outlined">person_add</span>
    </a>
    <app-notification-bell />
    <button class="icon-btn">
      <span class="material-symbols-outlined">chat</span>
    </button>
    <div class="user-avatar">
      <span class="material-symbols-outlined">person</span>
    </div>
    <ng-content />
  </div>
</header>
